# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\dzy\Desktop\大三上\算法\作业\AlgorithmHomework\Report\.idea/dataSources/
/dataSources.local.xml
